
body {
  padding-top:70px;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  padding: 50px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #D0D0CE;
}

a {
	color: #86BC25;
}

.submit-btn {
	background-color: #b1dbff;
	margin: 10px 0 10px 0;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}

.navbar-fluid {
  background-color: black;
}

.navbar-fluid .navbar-text {
  background-color: black;
  color: white;
}

.btn {
  background-color: #86BC25;
  color: black;
}

.btn-primary:hover {
  background-color: #009A44;
  color: black;
}
