.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #86BC25;
}
.color-light {
    background: rgba(135, 188, 37, 0.5);
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn{
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #86BC25;
    color:white;
    margin-bottom: 1em;
    cursor: pointer;
}
.life-container {
    background: #86BC25;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}