<div class="container color-dark">
  <div class="col">
    <p>Profile Name: {{profile.first_name}} {{profile.last_name}}</p>
  </div>
  <div class="col">
    <p>Application Status: {{profile.accepted}}</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <img class="profileImg" src="assets/max.jpg" alt="">
  </div>
  <div class="col">
      <p>CV submitted: {{profile.upload_CV}}</p>
      <br>
      <p>Video interview submitted: {{profile.upload_Video}}</p>
  </div>
</div>