<div class="clearfix">
  <h4>Applicants</h4>
  <div class="post" ng-repeat="user in users | orderBy:'created_at':true | filter:{ is_staff: '!true'}"  ng-class-odd="'odd'" ng-class-even="'even'">
    <tr>
      <div id="userinfo" style="text-align: left; width: 75%; display: inline-block">
        <td><b>Name:</b> {{user.username}}</td>
        <br>
        <td><b>Email:</b> {{user.email}}</td>
        <br>
        <td><b>Stage:</b> {{user.stage}}</td>
        <br>
        <td><b>Location:</b> {{user.desired_location}}</td>
        <br>
        <td><b>Role:</b> {{user.role}}</td>
        <br>
        <!--<td><button ng-click="reject(user.username)">Reject</button></td>-->
      </div>
      <div style="float: none; display: inline-block; vertical-align: middle">
        <button ng-click="updateUser(user.username, user.filename)" class="btn btnsecondary" data-toggle="modal" data-target="#userdetails-modal">View Applicant</button>
      </div>
    </tr>
  </div>
  <h4>Applicant CV</h4>
  <div class="post" ng-repeat="file in files" ng-class-odd="'odd'" ng-class-even="'even'">
      <hr>
      <i class="glyphicon glyphicon-book"></i> {{file.filename}}
      <br>
      <i>File ID: </i> {{file._id}}
      <div class="row" style="margin-top: 10px" >
        <div class="col-md-6">
          <a href="upload/files/{{file.filename}}" class="btn btn-success btn-block col-md-6" download><i class="glyphicon glyphicon-download-alt"></i> Download</a>
        </div>
        <div class="col-md-6">
          <form method="DELETE" ng-submit="delete()">
            <button class="btn btn-danger btn-block  col-md-6"><i class="glyphicon glyphicon-trash"></i> Delete</button>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="userdetails-modal" aria-labelledby="usermodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="usermodal" style="float: left">User Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body" style="overflow: hidden">
          <div ng-repeat="user in users | filter: {username : selectedUser}" style="width: 50%; float: left">
            <p><b>Name:</b> {{user.username}}</p>
            <p>
            <td><b>Email:</b> {{user.email}}</p>
            <p>
            <td><b>Stage:</b> {{user.stage}}</p>
            <p>
            <td><b>Location:</b> {{user.desired_location}}</p>
            <p>
            <td><b>Role:</b> {{user.role}}</p>
          </div>
          <div style="overflow: hidden; display: table; width: 50%; float: right">
            <p style="text-align: center"><b>Filename:</b> {{selectedFile}}</p>
            <a href="upload/files/{{selectedFile}}">
              <button class="btn btnsecondary" style="width: 40%; margin-left: 30%; margin-right: 30%; vertical-align: bottom">
              View CV
            </button>
            </a>
          </div>   
        </div>
      <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btnsecondary" data-dismiss="modal">Hire</button>
        <button type="button" class="btn btnsecondary" data-dismiss="modal">Fire</button>  
      </div>
    </div>
  </div>
</div>