<!--InternalStaffDashboard.html-->
<!--
  This is the html file that contains the content for the internal staff member dashboard.
  It shows all current applicants that have registered with the system and the stage that 
  they're at. The staff member can then view the CV they've uploaded, approve them onto
  the next stage, or reject them.
-->
<div class="clearfix">
    <H4 >Applicants</p>
        

    <div class="post" ng-repeat="user in users | orderBy:'created_at':true | filter:{ is_staff: '!true'}"  ng-class-odd="'odd'" ng-class-even="'even'">
        <tr>
            <td>NAME: {{user.username}}</td>
            <br>
            <td>EMAIL: {{user.email}}</td>
            <br>
            <td>STAGE: {{user.stage}}</td>
            <td>LOCATION: {{user.desired_location}}</td>
            <td>ROLE: {{user.role}}</td>
            <br>
            <td><button>View CV</button></td>
            <br>
            <td><button>Progress</button></td>
            <td><button ng-click="reject(user.username)">Reject</button></td>
        </tr>
    </div>
    <h4>Applicant CV</h4>
    <div class="post" ng-repeat="file in files" ng-class-odd="'odd'" ng-class-even="'even'">
        <hr>
        <i class="glyphicon glyphicon-book"></i> {{file.filename}}
        <br>
        <i>File ID: </i> {{file._id}}
        <div class="row" style="margin-top: 10px" >
          <div class="col-md-6">
            <a href="upload/files/{{file.filename}}" class="btn btn-success btn-block col-md-6" download><i class="glyphicon glyphicon-download-alt"></i> Download</a>
          </div>
          <div class="col-md-6">
            <form method="DELETE" ng-submit="delete()">
              <button class="btn btn-danger btn-block  col-md-6"><i class="glyphicon glyphicon-trash"></i> Delete</button>
            </form>
          </div>
        </div>
      </div>

</div>