<div class="clearfix">
  <!--
  <p ng-hide="authenticated">You must be logged in to continue any actions</p>
  <form ng-Submit="post()" ng-show='authenticated'>
    <h4> {{current_user}} says</h4>
    <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="Post" />
  </form>
  <div id="post-stream">
    <h4>Deloitte Feed</h4>
    <div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
      <p>{{post.text}}</p>
      <small>Posted by @{{post.created_by}}</small>
      <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
    </div>-->

<h1>Drive your growth. Fuel your success</h1>
<br>
<p>In Consulting we use logical thinking, leading global methodologies and our knowledge of industries to help New Zealand’s
  largest organisations solve their most complex problems. Our work is creative, dynamic, and stimulating.</p>
<h2>What we do</h2>
<p>We are about thinking and doing, strategy and implementation. We combine specialist skills in operations, finance, people
  management, strategy and technology with extensive industry experience to make a difference to the operational performance
  of our public and private sector clients.</p>
<h2>What qualification will you need?</h2>
<p> A tertiary qualification in;</p>
<p>• Finance, Economics, Mathematics, Information Systems, Computer Science, Commerce, Law, Engineering
</p>
<p>• Conjoint, double majors and post graduate studies are also advantageous
</p>
<h2>What skills do you need?</h2>
<p>• Exceptional communication and interpersonal skills</p>
<p>• A high level of self-motivation and commitment
</p>
<p>• The ability to analyse and work through complex problems</p>
<p>• Flexibility and resilience</p>
<p>• Intellectual curiosity</p>
<p>• To be comfortable with ambiguity and open to new experiences</p>
<p>• A proactive approach to work</p>
<p>• The ability to collaborate and work well within a team environment</p>
<p>• The ability to learn quickly</p>
<h2>What kind of clients will I work with?
</h2>
<p>• Large NZ businesses in a variety of industries – for example, energy, construction, business and finance</p>
<p>• Start-ups including recent Fast 50 winners</p>
<p>• Large public sector clients – for instance, social sector, education, and healthrelated engagements
</p>
<p>• Not-for profit/charitable sector clients across a range of issue areas – for example, housing, family, wellbeing, economic
  development
</p>
<h2>Did you know?</h2>
<p>• Analysts are often interacting with and presenting to client alongside senior
    team members</p>

    <p>• In your first few years you will spend a significant proportion of your time
        at client site</p>
  
    <p>• You will likely be involved in multiple projects during your first year, working
        with different teams</p>

    <p>• In consulting, we have ‘Fly home Friday’ every month, where we dedicate a
        day to coming together as a team, catching up on different projects we have all
        been working on, sharing knowledge, and developing our skills</p>
 
    <p>• We are a mobile workforce in Consulting – you will be provided with a new
        iPhone and laptop when you join so you are able to work from different locations</p>

    <p>• We now have Deloitte graduates working in other Deloitte offices around the
        world – including New York, Toronto, Shanghai, Singapore, London
        and Amsterdam</p> 

    <p>• You will have many opportunities to develop useful technical skills – including
        visual design and data analysis</p>

    <p>• Our team members come from remarkably diverse backgrounds – including
        medicine, science, engineering, law, and digital design
    </p>
  <h2>What will you be doing?</h2>
  <p>• You will develop an in-depth understanding of clients and
      their industries
      </p>
  <p>• You may have the opportunity to travel to client sites in
      other parts of the country</p>
  <p>• You will test efficiency of business processes and identify
      areas for improvement</p>
  <p>• You will have the opportunity to present work
      (‘deliverables’) and recommendations back to clients with
      your project team</p>
  <p>• You will be applying Deloitte methodologies to help clients
      streamline, improve, innovate and implement</p>
  <p>• You will apply data analysis and modelling to help clients
      make important decisions for their organistation</p>
  <p>• You will present your work and findings back to partners
    </p>
  <p>• You will work with your project team to recommend best
      practice, and build all aspects of a business or process</p>
  <p>• You may have the chance to engage directly with a
      client’s customers or service users, to understand how the
      client can better meet their needs</p>
  <p>• You will help to produce professional, visually engaging
      deliverables for clients using design tools and skills</p>
  <h2>What about technology?</h2>
  <p>• Technology plays a key role within consulting</p>
  <p>• We incorporate innovative technologies to deliver valuable
      insights to clients about their business</p>
  <p>• Data analytics, visualisation techniques, innovative design
      and presentation techniques are changing the way we are
      able to approach our work and share it with our clients</p>
  <p>• Data skills, in particular Excel, are an advantage
    </p>
  <p>• We partner with our clients to apply creative thinking to
      complex business challenges, turning disruptive
      technological threats into commercial opportunities</p>
  <p>• Technology may be the answer, but the question usually
      lies within the business – we align IT and business strategy</p>
</div>
