<div class="clearfix">
    <!--
  <p ng-hide="authenticated">You must be logged in to continue any actions</p>
  <form ng-Submit="post()" ng-show='authenticated'>
    <h4> {{current_user}} says</h4>
    <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="Post" />
  </form>
  <div id="post-stream">
    <h4>Deloitte Feed</h4>
    <div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
      <p>{{post.text}}</p>
      <small>Posted by @{{post.created_by}}</small>
      <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
    </div>-->

    <div ng-controller="ScrollAnimationController">
        <h1>Drive your growth. Fuel your success.</h1>
        <br>
        <!--All images have been compressed to drastically reduce their file size and thus improve loading speed.-->
        <img src="images/LandingPageImage1.PNG" class="img-responsive" alt="Deloitte Consulting Team Cooking">
        <br>
        <h3>In Consulting we use logical thinking, leading global methodologies and our knowledge of industries to help New Zealand’s
            largest organisations solve their most complex problems. Our work is creative, dynamic, and stimulating.</h3>
        <br>
        <br>
        <h2>What we do</h2>
        <p>We are about thinking and doing, strategy and implementation. We combine specialist skills in operations, finance,
            people management, strategy and technology with extensive industry experience to make a difference to the operational
            performance of our public and private sector clients.</p>
        <br>
        <br>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <h2>What qualification will you need?</h2>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p> A tertiary qualification in;</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Finance, Economics, Mathematics, Information Systems, Computer Science, Commerce, Law, Engineering
            </p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Conjoint, double majors and post graduate studies are also advantageous
            </p>
        </div>
        <br>
        <br>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <h2>What skills do you need?</h2>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Exceptional communication and interpersonal skills</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• A high level of self-motivation and commitment
            </p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• The ability to analyse and work through complex problems</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Flexibility and resilience</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Intellectual curiosity</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• To be comfortable with ambiguity and open to new experiences</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• A proactive approach to work</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• The ability to collaborate and work well within a team environment</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• The ability to learn quickly</p>
        </div>
        <br>
        <br>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <h2>What kind of clients will I work with?
            </h2>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Large NZ businesses in a variety of industries – for example, energy, construction, business and finance</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Start-ups including recent Fast 50 winners</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Large public sector clients – for instance, social sector, education, and healthrelated engagements
            </p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Not-for profit/charitable sector clients across a range of issue areas – for example, housing, family, wellbeing,
                economic development
            </p>
        </div>
        <br>
        <br>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <h2>Did you know?</h2>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <img src="images/LandingPageImage2.PNG" class="img-responsive" style="float:right;width:35%;height:35%;margin-left: 15px;"
                alt="Deloitte Consulting Team Dressed Up">
        </div>
        <br>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Analysts are often interacting with and presenting to client alongside senior team members</p>
        </div>

        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• In your first few years you will spend a significant proportion of your time at client site</p>
        </div>

        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will likely be involved in multiple projects during your first year, working with different teams</p>
        </div>

        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• In consulting, we have ‘Fly home Friday’ every month, where we dedicate a day to coming together as a team,
                catching up on different projects we have all been working on, sharing knowledge, and developing our skills</p>
        </div>

        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• We are a mobile workforce in Consulting – you will be provided with a new iPhone and laptop when you join so
                you are able to work from different locations</p>
        </div>

        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• We now have Deloitte graduates working in other Deloitte offices around the world – including New York, Toronto,
                Shanghai, Singapore, London and Amsterdam</p>
        </div>

        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will have many opportunities to develop useful technical skills – including visual design and data analysis</p>
        </div>

        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Our team members come from remarkably diverse backgrounds – including medicine, science, engineering, law,
                and digital design
            </p>
        </div>
        <br>
        <br>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <h2>What will you be doing?</h2>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <img src="images/LandingPageImage3.PNG" class="img-responsive" style="float:right;width:33%;height:33%;margin-left: 15px;"
                alt="Deloitte Consulting Team Go Karting">
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will develop an in-depth understanding of clients and their industries
            </p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You may have the opportunity to travel to client sites in other parts of the country</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will test efficiency of business processes and identify areas for improvement</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will have the opportunity to present work (‘deliverables’) and recommendations back to clients with your
                project team</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will be applying Deloitte methodologies to help clients streamline, improve, innovate and implement</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will apply data analysis and modelling to help clients make important decisions for their organistation</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will present your work and findings back to partners
            </p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will work with your project team to recommend best practice, and build all aspects of a business or process</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You may have the chance to engage directly with a client’s customers or service users, to understand how the
                client can better meet their needs</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• You will help to produce professional, visually engaging deliverables for clients using design tools and skills</p>
        </div>
        <br>
        <br>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <h2>What about technology?</h2>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <img src="images/LandingPageImage4.PNG" class="img-responsive" style="float:right;;width:35%;height:35%;margin-left: 15px;"
                alt="Deloitte Consulting Team Laughing">
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Technology plays a key role within consulting</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• We incorporate innovative technologies to deliver valuable insights to clients about their business</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Data analytics, visualisation techniques, innovative design and presentation techniques are changing the way
                we are able to approach our work and share it with our clients</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Data skills, in particular Excel, are an advantage
            </p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• We partner with our clients to apply creative thinking to complex business challenges, turning disruptive technological
                threats into commercial opportunities</p>
        </div>
        <div class="not-visible" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <p>• Technology may be the answer, but the question usually lies within the business – we align IT and business
                strategy</p>
        </div>
    </div>
</div>