<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/DeloitteNewLogo.png" alt="">
  <li><a routerLink="/home">View Candidates</a></li>
  <li><a routerLink="/profile">My Profile</a></li>
  <li><a routerLink="/uploads">Candidate Dashboard</a></li>
  <li><a routerLink="/home" class="logout">Logout</a></li>
</ul>

<router-outlet></router-outlet>

<!--<app-userlist></app-userlist>

<router-outlet></router-outlet>-->
